.navbar {
    background-color: #ffffff; /* Màu nền */
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Căn 2 bên */
    align-items: center;
}

/* Logo */
.logo {
    color: rgb(0, 168, 115);
    font-size: 20px;
    font-weight: bold;
}

/* Danh sách menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

/* Các mục trong menu */
.menu li {
    margin-left: 30px;
}

.menu input {
    margin-left: 20px;
}

/* Các liên kết */
.menu a {
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    transition: 0.3s;
}

/* Hiệu ứng hover */
.menu a:hover {
    background-color: #dad5d5;
    border-radius: 5px;
}

.hero input{
    width: 300px;
}

.menu__footer {
    display: flex;
    justify-content: center;
}

.menu__footer li{
    list-style: none;
    margin-left: 70px;
}

.menu__tutorials li{
    list-style: none;
    justify-content: center;
}
.menu__references li{
    list-style: none;
    justify-content: center;
}

.menu__examples li{
    list-style: none;
    justify-content: center;
}

.menu__certifications li{
    list-style: none;
    justify-content: center;
}

.menu__tutorials {
    margin-left: 100px;
}

.menu__references {
    margin-left: 100px;
}

.menu__examples {
    margin-left: 100px;
}

.menu__certifications {
    margin-left: 100px;
}

.navbar__footer {
    background-color: #ffffff; /* Màu nền */
    padding: 10px 20px;
    display: flex;
    justify-content: center; /* Căn 2 bên */
    align-items: center;
}

.hero {
    justify-content: center;
    justify-items: center;
}

.HTML {
    justify-content: center;
    justify-items: center;
    
}

.CSS {
    justify-content: center;
    justify-items: center;
    
}

.JavaScript {
    justify-content: center;
    justify-items: center;
}



footer {
    margin-top: 100px;
}

